html, body{
    background-color: #ffeead;
    margin: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    border: 5px solid #ffcc5c;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
}

.c1{
    background-color: #96ceb4;
}

.c2{
    background-color: #ff6f69;
}

.c3{
    background-color: #88d8b0;
}